flask==1.1.2
torch==1.3.0
allennlp==0.8.4
python-Levenshtein==0.12.0
transformers==2.2.2
scikit-learn==0.20.0
sentencepiece==0.1.91
spacy==2.1.9
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz#egg=en_core_web_sm
waitress==1.4.4


# if installation fails, you might also need:
#
# sudo apt install gcc
# conda install -c conda-forge jsonnet


# during development
# libsass==0.20.1 