{% extends "index.html" %}


{% block team %}
<div class="team-container">

    <div class="team-title">
        <h1>The team</h1>
    </div>

    <div class="team-members">
        <div class="team-member edu">
            <div class="team-member-id">
                <div class="team-member-picture" id="eduardo-picture">
                </div>
                <h3>Eduardo<br>Calò</h3>
            </div>

            <div class="description">
                An Italian Computational Linguist holding a BA in Asian studies,
                and pursuing an MSc in NLP. Worked in Samsung Italy as a Language Engineer,
                and as a researcher in ATILF labs.
                Compulsive traveler, I speak 5 languages.
            </div>

            <div class="team-member-links">
                <a href="https://github.com/Dodo-s95" target="_blank" rel="noopener noreferrer">
                    <div class="icon" id="github"></div>
                </a>
 
                <a href="https://www.linkedin.com/in/eduardo-calò/" target="_blank" rel="noopener noreferrer">
                    <div class="icon" id="linkedin"></div>
                </a>

                <a class="email" href="mailto:educa95@gmail.com">
                   <div class="icon" id="gmail"></div>
                </a>
            </div>

            
            
        </div>

        <!-- member2-->
        <div class="team-member leo">
            <div class="team-member-id">
                <div class="team-member-picture" id="leo-picture">
                </div>
                <h3>Léo<br>Jacqmin</h3>
            </div>

            <div class="description">
                Young Belgian passionate about languages, computers and their intersection.
                I am a final-year Master's student in NLP hoping to make a contribution
                towards truly intelligent systems.
            </div>

            <div class="team-member-links">
                <a href="https://github.com/jacqle" target="_blank" rel="noopener noreferrer">
                    <div class="icon" id="github"></div>
                </a>
 
                <a href="https://www.linkedin.com/in/leo-jacqmin" target="_blank" rel="noopener noreferrer">
                    <div class="icon" id="linkedin"></div>
                </a>

                <a class="email" href="mailto:jacqmin.leo@gmail.com">
                   <div class="icon" id="gmail"></div>
                </a>
            </div>

            
            
        </div>

        <!-- member3-->
        <div class="team-member thi">
            <div class="team-member-id">
                <div class="team-member-picture" id="thibo-picture">
                </div>
                <h3>Thibo<br>Rosemplatt</h3>
            </div>

            <div class="description">
                The French guy of the team. Fond of coding, languages, and music.
                Pursuing an MSc in NLP. I am willing to play my part in this field,
                which I am convinced it can improve the lives of billions of people.
            </div>
            <div class="team-member-links">
                <a href="https://github.com/psawa" target="_blank" rel="noopener noreferrer">
                    <div class="icon" id="github"></div>
                </a>
 
                <a href="https://www.linkedin.com/in/thibo-rose/" target="_blank" rel="noopener noreferrer">
                    <div class="icon" id="linkedin"></div>
                </a>

                <a class="email" href="mailto:thibo.rosemplatt@gmail.com">
                   <div class="icon" id="gmail"></div>
                </a>
            </div>
            
        </div>
    </div>
    <!-- <div class="credits-container">
        <a href="https://idmc.univ-lorraine.fr/" target="_blank" rel="noopener noreferrer"><img src="../static/img/idmc.png" alt="logo of IDMC" id="idmc-footer-logo"></a>
        <a href="http://www.univ-lorraine.fr/" target="_blank" rel="noopener noreferrer"><img src="../static/img/ul.png" alt="logo of Université de Lorraine" id="ul-footer-logo"></a>
        
    </div> -->
</div>
{% endblock %}
