<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GECko - Gobbles up your mistakes</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <link href="{{ url_for('static', filename='css/style.scss.css') }}"
      rel="stylesheet" type="text/css">

    <!--favicon-->
    <link rel="apple-touch-icon" sizes="57x57" href="../static/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../static/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../static/favicon/apple-icon-76x76.pn">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../static/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../static/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../static/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../static/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--favicon-->
</head>

<body>
    <!--header-->
    <header id="myHeader">
        <div class="logo-container">
            <img src="../static/img/GECko_logo_rectangular.png" alt="Logo of GECko" width="200" >
        </div>
        <div class="header-tagline">
            <p>Gobbles up your<span style="text-decoration: line-through; color:red;">s</span> mistakes</p>
        </div>

        <nav class="nav">
            <a href="#correct">CORRECT</a>
            <a href="#about">ABOUT</a>
            <div id="indicator"></div>
        </nav>

    </header>

    <!--corrector-->
    <div class="transparent-container">

        <div class="textboxes-container">
            <div contenteditable="true" class="text-box" id="text-box-input"
                data-placeholder="I'm hungry for mistakes..."></div>
            <div class="arrow-button bubbly-button" id="arrow-button">
                ➤
            </div>
            <div contenteditable="false" class="text-box" id="text-box-output" data-placeholder="Your text digested..."></div>
        </div>

    </div>

    

    <footer>
        <div class="footer-title"><font size="+4">About</font></div>

        <div class="about-container" id="about">
            {% block team %}{% endblock %}

            <div class="project-container">
                <!-- <h1><a name="about">The project</a></h1> -->
                <img src="../static/img/gecko_tagline.png" alt="Logo and tagline of gecko" class="footer-logo">
                <div class="project-description">
                    GECko is a Grammar Error Corrector for English. It is able to correct various spelling and grammatical mistakes.
                    Its functioning is simple and quick: just try to type an English sentence (with some mistakes, of course!) on the left box.
                    Our GECko, which is always hungry, will wake up and gobble up all the mistakes you have made!<br>
                    <br>GECko is built on top of <a href="https://github.com/grammarly/gector" style="color:beige">GECToR</a>, a Grammar Corrector model
                    developed by the well-known <a href="https://www.grammarly.com" style="color:beige">Grammarly</a>.
                    We have created this web-app in the framework of the Software Project for our Master of Science's second year.
                    The source code is available on <a href="https://github.com/psawa/gecko-app" style="color:beige">GitHub</a>.
                </div>
            </div>
        </div>

        

    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>$('body').attr("spellcheck",false)</script>
    <script type="module" src="../static/js/predict.js"></script>
    <script type="module" src="../static/js/key_bind.js"></script>
    <script src="../static/js/clean_cp.js"></script>
    <script type="module" src="../static/js/animations.js"></script>
    <script type="module" src="../static/js/demo.js"></script>

</body>

</html>