@import "variables";

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
/* Built in tags */

html {
    width: auto;
    height: 100%;
    scroll-behavior: smooth;

}

body {
    height: 100vh;
    margin: 0;
    /* background-color: #000D06; */
    /* background: radial-gradient(ellipse at center,#126819 0,#0a3a16 100%); */

    background: #0F2027;
    /* fallback for old browsers */
    background: linear-gradient(135deg, #2E1114 0%, #501B1D 100%);
    /* background: linear-gradient(135deg, #305EE6 0%,#47F5BC 100%); */
    /* background: linear-gradient(to top, #003b1e, #11351d, #0F2027); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;

}




/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* :::::::::: NAV BAR :::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

nav {
    position: absolute;
    top: 10%;
    right: 0;
    left: 10;
    width: 319px;
    display: table;
    margin: 0 auto;
    transform: translateY(-50%);

    a {
        position: relative;
        width: 33.333%;
        display: table-cell;
        text-align: center;
        color: #efe8dc;
        text-decoration: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        padding: 10px 20px;
        transition: 0.2s ease color;

        &:hover{
            color: #efe8dc;

            &:before, :after{
                transform: scale(1);
            }
        }

        &:before, :after{
            content: "";
            position: absolute;
            border-radius: 50%;
            transform: scale(0);
            transition: 0.2s ease transform;
        }

        &:before{
            top: 0;
            left: 10px;
            width: 6px;
            height: 6px;
        }

        &:after {
            top: 5px;
            left: 18px;
            width: 4px;
            height: 4px
        }
    }

    #indicator {
        position: absolute;
        left: 5%;
        bottom: 0;
        width: 30px;
        height: 3px;
        background-color: #efe8dc;
        border-radius: 5px;
        transition: 0.2s ease left;
    }
}

nav a:nth-child(2):hover~#indicator {
    left: 44%;
}

nav a:nth-child(3):hover~#indicator {
    left: 72%;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* :::::::::: HEADER ::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

header {
    text-align: left;
    /* background-color:#012615; */
    /* outline: 1px solid purple; */
    height: 100px;
    margin-top: 20px;
    margin-left: 20px;

    .logo-container {
        position: relative;
        /* width: 150px; */
        /* outline: 1px solid rebeccapurple; */
        width: fit-content;
    
    }
}





/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* ::::::::::: MAIN :::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

.transparent-container {
    min-height: calc(min(80vh,700px));
    background-color: transparent;

    .textboxes-container {
        /* min-height: 600px; */
        /* width: 800px; */
        padding: 80px 0;
        margin: auto;
        /* outline: 1px solid green; */
        display: inline-flex;
        /* line-height: 430px; */
        

        .arrow-button {
            /* position: absolute; */
            /* top:50px; */
            font-family: "Verdana", sans-serif;
            text-transform: uppercase;
            background: transparent;
            height: 0px;
            width: 40px;
            margin-top: 1.5cm;
            padding: 0px 10px 0px 10px;
            color: #efe8dc;
            font-size: 50px;
            -webkit-transition: all 0.3 ease;
            transition: all 0.3 ease;
            cursor: pointer;
            border-radius: 100%;
            /* outline: 1px solid yellow; */
            &:hover, :active, :focus{
                color: #B4A696;
                background: transparent;
                transition: background 0.4s ease-in-out;
            }
        }

        .text-box {
            /* outline: 1px solid red; */
            font-family: 'Open Sans', sans-serif;
            font-size: 30px;
            width: 500px;
            min-height: 300px;
            background-color: white;

            &:empty:before{
                content: attr(data-placeholder);
                color: gray
            }
        }

        #text-box-input, #text-box-output {
            text-align: left;
            padding: 20px;
            border: 1px solid rgba(255, 255, 255, 15%);
            border-radius: 25px;
            font-family: 'Open Sans', sans-serif;
            color: black;
            font-size: 25px;
            resize: none;
            outline: none;
            box-shadow: 0 0 3px #4b4b4b;
            min-height: 150px;
        }

        #text-box-input:focus {
            box-shadow: inset 0 0 1px 1px rgb(227, 255, 234);
        }
    }
}


footer{
    padding: 80px 0;
    width: 100%;
    /* height: 500px; */
    background-color: $footer-color;
    color: #efe8dc;
    display: block;
    font-family: 'Open Sans', sans-serif;
    // outline: 1px solid yellow;

    .footer-title{
        display: block;
        font-size: xx-large;
    }

    .about-container{
        height: 400px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: top;

        h1{
            margin-bottom: 20px;
            font-size: larger;
        }

        .project-container {
            float: center;
            width: 1150px;
            color: #efe8dc;
            padding: 15px 15px 15px 40px;
            text-align: justify;
            // outline: salmon 1px solid;
            max-width: 600px;
            // border-left: 1px solid #ADADAD;
        }

        .team-container{
            max-width: 1000px;
            /* border-top: 1px #e9e9e9 solid;
            border-bottom: 1px #e9e9e9 solid; */
            position: relative;
            // display: inline-flex;
            // outline: 1px dashed pink;
            padding-top: 15px;
        }
    }
    
}


.project-container{
    .project-description{
        padding-right: 30px;
        text-align: justify;
    }
}

.team-container {

    .team-members{
        display: inline-flex;

        .team-member {
            margin: 0 15px;
            // color: #501B1D;
            width: 205px;
            flex-wrap: wrap;
            // outline: 1px solid green;

            //background-color: rgb(255, 241, 194);
            border: 2px solid beige;
            box-sizing: border-box;
            border-radius: 10px;
            border-top-left-radius: 35px;
            
            .description{
                display: block;
                text-align: justify;
                margin-top: 15px;
                font-size: small;
                padding:15px;
            }
        }

        .team-member-id{
            // outline:1px solid pink;
            display: flex;
            justify-content: flex-start;

            .team-member-picture {
                width: 70px;
                height: 70px;
                border-radius: 100%;
                // margin: auto;
                margin-right: 15px;
                /* clip-path: circle(50px at center); */
                // border: #501B1D 3px solid;
                background-size: 100px 100px;
        
                &#eduardo-picture {
                    background-image: url("../img/edu.jpeg");
                }
                
                &#leo-picture {
                    background-image: url("../img/leo.jpeg");
                }
        
                &#thibo-picture {
                    background-image: url("../img/thi.jpeg");
                }
            }
        }
    
        
    }
    
}


/* Deltas */

.delta-insert{
    border-bottom: green 2px solid;
}

.delta-replace{
    border-bottom: blue 2px solid ;
}

.delta-delete{
    border-bottom: red 2px solid;
    display: none;
}
