@import "variables";

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');


/* Built in tags */

html {
    width: auto;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    // height: 100vh;
    margin: 0;
    background: #0F2027;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    background: linear-gradient(
    to bottom right,  
    $bg-1, $bg-2, 
    $bg-3, $bg-4, 
    $bg-5, $bg-6);
    background-repeat: no-repeat;
    background-size: 1000% 1000%;
}


/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* ::::::::::: MAIN :::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

.main-container {
    // outline: 1px solid green;
    padding-top:70px;
    min-height: calc(min(80vh,700px));
    background-color: transparent;
    max-width: 2000px;
    width: 90%;
    margin: auto;


    .checkbox-container{
        // margin: 0 auto;
        // display: flex;
        align-items: center;
        justify-content: center;
        width: 275px;
        color: white;
        font-family: 'Delius', cursive;
        font-size: 14px;
        margin-left: 30px;

        input#reorder-checkbox{
            float: right;
            width: 42px;
            height: 17px;
            cursor: pointer;
            background-color: rgba(170, 170, 170, 30%);
            -webkit-appearance: none;
            border-radius: 8px;
            position: relative;
        }

        input#reorder-checkbox:before{
            content: "";
            width: 21px;
            height: 21px;
            background-color: #F5F5F5;
            border-radius: 50%;
            position: absolute;
            top: -2px;
            z-index: 2;
            left: -2px;
            transition: all .2s linear;
        }

        input#reorder-checkbox:after{
            content: "";
            height: 100%;
            width: 17px;
            position: absolute;
            left: 0;
            z-index: 1;
            border-radius: 17px;
            background-color: rgba(8, 189, 62, 0.966);
            transition: all .2s linear;
        }

        input#reorder-checkbox:checked:before{
            left: calc(100% - 19px);
            background-color: #ebd5d5;
        }

        input#reorder-checkbox:checked:after{
            width: 100%;
            border-radius: 8px;
        }
        
    }
    
    .textboxes-container {

        display: grid;
        grid-template-columns: 20px 1fr 30px 1fr 20px;
        grid-template-rows: 1fr;
        grid-template-areas: ". input-box button output-box .";
        // outline: 1px solid grey;

        padding-top:10px;
        padding-bottom: 60px;
        // margin: 0 auto;
        // display: inline-flex;
        width: 100%;


        .arrow-button {
            /* position: absolute; */
            /* top:50px; */
            grid-area: button;
            position: relative;
            font-family: "Verdana", sans-serif;
            text-transform: uppercase;
            background: white;
            height: 45px;
            line-height: 45px;
            width: 45px;
            border: 1px solid $footer-color;
            border-radius: 100%;
            color: $footer-color;
            font-size: 35px;
            -webkit-transition: all 0.3 ease;
            transition: all 0.3 ease;
            cursor: pointer;
            border-radius: 100%;
            // outline: 1px solid yellow;
            align-self: center;
            z-index: 20;
            transition: background 0.4s ease-in-out, color 0.2s ease-in-out;
            // margin: 0 -10px;

            place-self: center;
/* 
            &:hover, :active, :focus{
                color: #501B1D;
                transition: background 0.4s ease-in-out, color 0.2s ease-in-out;
            } */

               
            transition: transform ease-in 0.01s;
            
            &:focus {
                outline: 0;
            }
            
            &:before, &:after{
                position: absolute;
                content: '';
                display: block;
                width: 140%;
                height: 100%;
                left: -20%;
                z-index: -1000;
                transition: all ease-in-out 1s;
                background-repeat: no-repeat;
            }
            
            @mixin button-click {
                transform: scale(0.9);
                color: $bg-2;
            }
            
            &:active{
                @include button-click;
            }

            &.is-clicked{
                @include button-click;
            }
        }

        .text-box {
            grid-area: textbox;
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            // width: 500px;
            min-height: 200px;
            background-color: white;

            &:empty:before{
                content: attr(data-placeholder);
                color: gray
            }
        }

        #text-box-input, #text-box-output {
            text-align: left;
            padding: 20px;
            border: 1px solid rgba(255, 255, 255, 15%);
            border-radius: 25px;
            font-family: 'Open Sans', sans-serif;
            color: black;
            // font-size: 25px;
            resize: none;
            outline: none;
            box-shadow: 0 0 3px #4b4b4b;
            // min-height: 150px;
            overflow-wrap: break-word;
            // -webkit-line-break: after-white-space;
        }

        #text-box-input{
            grid-area: input-box;
        }

        #text-box-output{
            grid-area: output-box;
        }

        #text-box-input:focus {
            //box-shadow: inset 0px 1px 10px -1px #000000;
            box-shadow: 0px 1px 10px 2px #000000;
        }
    }
}








/* Deltas */

.delta-insert{
    border-bottom: green 2px solid;
}

.delta-replace{
    border-bottom: blue 2px solid ;
}

.delta-delete{
    border-bottom: red 2px solid;
    display: none;
}

.delta-input-delete{
    border-bottom: red 2px solid;
}



