///////////////////////////////////////////////////////////////////
///////// RESPONSIVE DESIGN ///////////////////////////////////////
///////////////////////////////////////////////////////////////////

@media only screen and (max-width : 1042px) {
    footer #about-container{
        grid-template-columns: 1fr 415px 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            ". project ."
            "team team team";
    }
}

@media only screen and (max-width : 1000px) {
    header{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "logo tagline tagline tagline"
            "demo-container demo-container demo-container demo-container";
        margin:0;
        padding: 20px;

        #demo-container{
            box-shadow: none;
            background-color: #00000000;
        }

    }
    .main-container{
        padding-top: 0;
        .textboxes-container{
            grid-template-columns: 20px 1fr 20px;
            grid-template-rows: 1fr 30px 1fr;
            grid-template-areas: 
            ". input-box ."
            ". button ."
            ". output-box .";
            margin:auto;

            padding-bottom: 40px;
            padding-top: 20px;

            .arrow-button{
                margin: -10px 0;
            }
        }
    }
}