@import "variables";

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');


/* Built in tags */

html {
    width: auto;
    height: 100%;
    scroll-behavior: smooth;

}

body {
    height: 100vh;
    margin: 0;
    /* background-color: #000D06; */
    /* background: radial-gradient(ellipse at center,#126819 0,#0a3a16 100%); */

    background: #0F2027;
    /* fallback for old browsers */
    // background: linear-gradient(135deg, #2E1114 0%, #501B1D 100%);
    /* background: linear-gradient(135deg, #305EE6 0%,#47F5BC 100%); */
    /* background: linear-gradient(to top, #003b1e, #11351d, #0F2027); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;

    background: linear-gradient(
    to bottom right,  
    $bg-1, $bg-2, 
    $bg-3, $bg-4, 
    $bg-5, $bg-6);
    background-repeat: no-repeat;
    background-size: 1000% 1000%;
}




/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* :::::::::: NAV BAR :::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

nav {
    // outline: 1px solid blue;
    font-size: 16pt;
    grid-area: nav;
    align-self: end;
    a {
        font-family: 'Delius', cursive;
        position: relative;
        width: 33.333%;
        display: table-cell;
        text-align: center;
        color: $beige;
        text-decoration: none;
        font-weight: bold;
        padding: 10px 20px;
        transition: 0.2s ease color;
        position: relative;
        transition: all 0.6s;
        &:before {
            content: "";
            width: 0;
            height: 0.1em;
            position: absolute;
            bottom: 0;
            right: 0;
            background: $beige;
            transition: all 0.3s;
        }
        &:hover {
            &:before {
                width: 100%;
                left: 0;
                background: white;
            }
        }
    }

}

nav a:nth-child(2):hover~#indicator {
    left: 200px;
}


/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* :::::::::: HEADER ::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

header {
    display: grid;
    grid-template-columns: 0.4fr 1.5fr auto 1fr;
    grid-template-rows: 1fr;
    gap: 0px 48px;
    grid-template-areas: "logo tagline . nav";
    align-items: center;


    // outline: 1px solid pink;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
    position: relative;



    .logo-container {
        // outline: 1px solid violet;
        position: relative;
        /* width: 150px; */
        width: 200px;
        height: 146px;
        grid-area: logo;
        background: url("../img/GECko_plus_small.png");
        background-repeat: no-repeat;
    }
    .header-tagline{
        // outline: 1px solid cyan;
        color:white;
        font-family: 'Delius', cursive;
        font-size: 30pt;
        display: inline-block;
        grid-area: tagline;
    }
}





/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* ::::::::::: MAIN :::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

.main-container {
    // outline: 1px solid green;
    padding-top:70px;
    min-height: calc(min(80vh,700px));
    background-color: transparent;
    width: fit-content;
    margin: auto;

    .checkbox-container{
        // margin: 0 auto;
        // display: flex;
        align-items: center;
        justify-content: center;
        width: 275px;
        color: white;
        font-family: 'Delius', cursive;
        font-size: 1em;

        input#reorder-checkbox{
            float: right;
            width: 42px;
            height: 17px;
            cursor: pointer;
            background-color: rgba(170, 170, 170, 30%);
            -webkit-appearance: none;
            border-radius: 8px;
            position: relative;
        }

        input#reorder-checkbox:before{
            content: "";
            width: 21px;
            height: 21px;
            background-color: #F5F5F5;
            border-radius: 50%;
            position: absolute;
            top: -2px;
            z-index: 2;
            left: -2px;
            transition: all .2s linear;
        }

        input#reorder-checkbox:after{
            content: "";
            height: 100%;
            width: 17px;
            position: absolute;
            left: 0;
            z-index: 1;
            border-radius: 17px;
            background-color: rgba(8, 189, 62, 0.966);
            transition: all .2s linear;
        }

        input#reorder-checkbox:checked:before{
            left: calc(100% - 19px);
            background-color: #ebd5d5;
        }

        input#reorder-checkbox:checked:after{
            width: 100%;
            border-radius: 8px;
        }
        
    }
    
    .textboxes-container {

        // outline: 1px solid grey;

        padding-top:10px;
        padding-bottom: 60px;
        margin: 0 auto;
        display: inline-flex;


        .arrow-button {
            /* position: absolute; */
            /* top:50px; */
            position: relative;
            font-family: "Verdana", sans-serif;
            text-transform: uppercase;
            background: white;
            height: 60px;
            line-height: 55px;
            width: 60px;
            border: 1px solid $footer-color;
            border-radius: 100%;
            color: $footer-color;
            font-size: 40px;
            -webkit-transition: all 0.3 ease;
            transition: all 0.3 ease;
            cursor: pointer;
            border-radius: 100%;
            // outline: 1px solid yellow;
            align-self: center;
            z-index: 20;
            transition: background 0.4s ease-in-out, color 0.2s ease-in-out;
            margin: 0 -10px;
/* 
            &:hover, :active, :focus{
                color: #501B1D;
                transition: background 0.4s ease-in-out, color 0.2s ease-in-out;
            } */

               
            transition: transform ease-in 0.01s;
            
            &:focus {
                outline: 0;
            }
            
            &:before, &:after{
                position: absolute;
                content: '';
                display: block;
                width: 140%;
                height: 100%;
                left: -20%;
                z-index: -1000;
                transition: all ease-in-out 1s;
                background-repeat: no-repeat;
            }
            
            @mixin button-click {
                transform: scale(0.9);
                color: $bg-2;
            }
            
            &:active{
                @include button-click;
            }

            &.is-clicked{
                @include button-click;
            }
        }

        .text-box {
            font-family: 'Open Sans', sans-serif;
            font-size: 30px;
            width: 500px;
            min-height: 300px;
            background-color: white;

            &:empty:before{
                content: attr(data-placeholder);
                color: gray
            }
        }

        #text-box-input, #text-box-output {
            text-align: left;
            padding: 20px;
            border: 1px solid rgba(255, 255, 255, 15%);
            border-radius: 25px;
            font-family: 'Open Sans', sans-serif;
            color: black;
            font-size: 25px;
            resize: none;
            outline: none;
            box-shadow: 0 0 3px #4b4b4b;
            min-height: 150px;
            overflow-wrap: break-word;
            // -webkit-line-break: after-white-space;
        }

        #text-box-input:focus {
            //box-shadow: inset 0px 1px 10px -1px #000000;
            box-shadow: 0px 1px 10px 2px #000000;
        }
    }

    #data-policy-container{
        color: white;
        font-family: 'Delius', cursive;
        font-size: 1em;
        padding-top: 50px;
        p{
            margin: 0;
        }
    }
}


footer{
    padding: 80px 0;
    width: 100%;
    /* height: 500px; */
    background-color: $footer-color;
    color: $beige;
    display: block;
    font-family: 'Open Sans', sans-serif;
    // outline: 1px solid yellow;

    .footer-title{
        display: block;
        font-size: xx-large;
        font-family: 'Delius', cursive;
    }

    .about-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: top;

        h1{
            margin-bottom: 20px;
            font-size: xx-large;
            text-align: center;
        }

        .project-container {
            float: center;
            width: 1150px;
            color: $beige;
            padding: 15px 15px 15px 40px;
            text-align: justify;
            // outline: salmon 1px solid;
            max-width: 600px;
            // border-left: 1px solid #ADADAD;

            .project-title{
                font-family: 'Delius', cursive;
            }
        }

        .team-container{
            // outline: 1px solid blue;
            max-width: 1000px;
            /* border-top: 1px #e9e9e9 solid;
            border-bottom: 1px #e9e9e9 solid; */
            position: relative;
            // display: inline-flex;
            // outline: 1px dashed pink;
            padding-top: 15px;

            .team-title{
                font-family: 'Delius', cursive;
            }
        }
    }
    
}


.project-container{

    .footer-logo{
        width: 400px;
        margin-bottom: 30px
    }

    .project-description{
        padding-right: 30px;
        text-align: justify;
        font-size: 1.4em;

        a{
            text-decoration: none;
            color: $link;
            transition: color ease 0.5s;
            &:hover{
                color: $link-hover;
                transition: color ease 0.5s;
            }
        }
    }
}

.team-container {
    // outline: 1px solid green;

    .team-members{
        display: inline-flex;
        

        .team-member {
            height: 300px;
            position: relative;
            margin: 0 15px;
            // color: #501B1D;
            width: 205px;
            flex-wrap: wrap;
            // outline: 1px solid green;

            background-color: #8b86876b;
            // border: 2px solid beige;
            box-sizing: border-box;
            border-radius: 10px;
            border-top-left-radius: 35px;

            &.thi{
                background-color: $thi-color-2
            }
            &.leo{
                background-color: $leo-color-2
            }
            &.edu{
                background-color: $edu-color-2
            }
            
            .description{
                display: block;
                text-align: center;
                // margin-top: 10px;
                font-size: 90%;
                padding: 0 15px 15px;
                
            }

            a{
                color: white;
            }
        }

        .team-member-id{
            // outline:1px solid pink;
            display: flex;
            justify-content: flex-start;

            .team-member-picture {
                width: 70px;
                height: 70px;
                border-radius: 100%;
                // margin: auto;
                margin-right: 15px;
                margin-left: -10px;
                margin-top: -10px;
                /* clip-path: circle(50px at center); */
                border: #501B1D 2px solid;
                background-size: 100px 100px;
        
                &#eduardo-picture {
                    background-image: url("../img/edu.jpeg");
                    background-position: 40% -8%;
                    background-size: 95px;                
                    border-color: $edu-color-1;
                }
                
                &#leo-picture {
                    background-image: url("../img/leo.jpeg");
                    background-position: 38% 39%;
                    background-size: 120px;
                    border-color: $leo-color-1;
                }
        
                &#thibo-picture {
                    background-image: url("../img/thi.jpeg");
                    background-position: 50% 59%;
                    background-size: 120px;
                    border-color: $thi-color-1;
                }
            }
        }

        .team-member-links{
            position: absolute;
            bottom: 6px;
            left: 63px;
            bottom: 0;
            display: flex;
            justify-content: center;
            margin-top: 10px;
            
            .icon {
                height: 20px;
                width: 20px;
                padding: 5px;

                &#linkedin {
                    background-image: url("../img/linkedin-logo.png");
                    background-size: 20px;
                    background-repeat: no-repeat;
                }
                
                &#github {
                    background-image: url("../img/github-logo.png");
                    background-size: 20px;
                    background-repeat: no-repeat;
                }

                &#gmail {
                    background-image: url("../img/gmail-logo_w.png");
                    background-size: 20px;
                    background-repeat: no-repeat;
                }

            }

        }
    
        
    }
    
}

.credits-container{
    margin-top: 30px;;
    // outline:1px solid blue;
    display:flex;
    justify-content:flex-end;
    align-items:center;

    #idmc-footer-logo{
        width: 215px;
    }

    #ul-footer-logo{
        width: 80px;
        // display: inline-block;
    }
}
/* Deltas */

.delta-insert{
    border-bottom: green 2px solid;
}

.delta-replace{
    border-bottom: blue 2px solid ;
}

.delta-delete{
    border-bottom: red 2px solid;
    display: none;
}

.delta-input-delete{
    border-bottom: red 2px solid;
}



#tutorial-container{
    color: white;
    font-family: 'Delius', cursive;
    font-size: 1.3em;
    transition: color ease-in-out 1s;
    display: flex;
    // outline: 1px solid blue;
    justify-content: center;

    #tutorial-left{
        // outline: 1px solid white;
        width: 492px;
        text-align: center;
    }

    #tutorial-right{
        text-align: center;
        margin-left: 70px;
        // outline: 1px solid white;
        width: 400px;;
    }
    
    #demo-button{
        // outline: 1px solid blue
        width: 130px;
        background-color: #00000050;
        border-radius: 14px;
        padding: 0 3px;
        margin: 40px auto 0;
        display: flex;
        align-items:center;
        justify-content: center;

        p{
            font-size: 24px;
            padding-right: 15px;
            margin: 8px 0;
        }

        #demo-logo{
            height: 26px;
            width: 26px;

        }
        &:hover{
            cursor: pointer;
            #demo-logo{
                fill: $beige;
            }
        }
    }
    
}



///////////////////////////////////////////////////////////////////
///////// RESPONSIVE DESIGN ///////////////////////////////////////
///////////////////////////////////////////////////////////////////

// PORTRAIT IPAD PRO
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    footer{
        .about-container{
            flex-direction: column-reverse ;
            align-content: center;
            .project-container{
                padding: 15px;
                margin: auto;
                .project-description{
                    padding: 0;
                }
            }
        }
    }

    .main-container{
        height: 975px;
    }

    .textboxes-container{
        padding-top:30px;
        flex-direction: column;
        .arrow-button{
            transform: rotate(90deg);
            margin: -10px 0;

        }

    }

    .text-box{
        width: 650px;
    }
}


// LANDSCAPE IPAD PRO
// Already good ;) 

// PHONE PORTRAIT 
@media only screen and (max-width : 1050px) {
    
    header{
        display: block;
        margin:0;
        padding: 20px;

        .nav {
            display: none;
        }

        .header-tagline{
            font-size: 26px;
        }
    }
    .main-container{
        width: auto;
        padding-top: 0;
        .textboxes-container{
            margin:auto;
            flex-direction: column;
            width: 94%;

            padding-bottom: 40px;
            padding-top: 20px;

            .text-box{
                width: auto;
            }

            .arrow-button{
                margin: -10px 0;
            }
        }

        #tutorial-container{
            padding: 0 20px 30px;
        }
    }

    footer{
        .about-container{
            flex-direction: column-reverse ;
            align-content: center;
            .team-container{
                max-width: 100%;
                overflow-x: scroll;

            }

            .project-container{
                max-width: 450px;
                width: auto;
                margin: auto;
            }
        }
    }
}