$bg-1: #2E1114;
$bg-2: rgb(58, 17, 19);
$bg-3: #331518;
$bg-4: rgb(54, 17, 20);
$bg-5: #311518;
$bg-6:#2c0e11;



$footer-color: #1a080a;

$beige: #efe8dc;

$thi-color-1: #244b7d;
$thi-color-2: #1c4d8d4d;


$edu-color-1:#7b363f;
$edu-color-2:#7b363f3b;

$leo-color-1:  #eaf0fa;
$leo-color-2:  #eaf0fa3b;


$button-bg-1: #ffffff;
$button-bg-2: #e135ff;
$button-bg-3: #1492cc;
$button-bg-4: #41ff2f;
$button-bg-5: #fdba82;
$button-bg-6: #440000;
$button-bg-7: #e62020;

