/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delius&display=swap");
/* Built in tags */
html {
  width: auto;
  height: 100%;
  scroll-behavior: smooth; }

body {
  height: 100vh;
  margin: 0;
  /* background-color: #000D06; */
  /* background: radial-gradient(ellipse at center,#126819 0,#0a3a16 100%); */
  background: #0F2027;
  /* fallback for old browsers */
  /* background: linear-gradient(135deg, #305EE6 0%,#47F5BC 100%); */
  /* background: linear-gradient(to top, #003b1e, #11351d, #0F2027); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  background: linear-gradient(to bottom right, #2E1114, #3a1113, #331518, #361114, #311518, #2c0e11);
  background-repeat: no-repeat;
  background-size: 1000% 1000%; }

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* :::::::::: NAV BAR :::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
nav {
  font-size: 16pt;
  grid-area: nav;
  align-self: end; }
  nav a {
    font-family: 'Delius', cursive;
    position: relative;
    width: 33.333%;
    display: table-cell;
    text-align: center;
    color: #efe8dc;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.2s ease color;
    position: relative;
    transition: all 0.6s; }
    nav a:before {
      content: "";
      width: 0;
      height: 0.1em;
      position: absolute;
      bottom: 0;
      right: 0;
      background: #efe8dc;
      transition: all 0.3s; }
    nav a:hover:before {
      width: 100%;
      left: 0;
      background: white; }

nav a:nth-child(2):hover ~ #indicator {
  left: 200px; }

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* :::::::::: HEADER ::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
header {
  display: grid;
  grid-template-columns: 0.4fr 1.5fr auto 1fr;
  grid-template-rows: 1fr;
  gap: 0px 48px;
  grid-template-areas: "logo tagline . nav";
  align-items: center;
  text-align: left;
  /* outline: 1px solid purple; */
  margin-top: 20px;
  margin-left: 20px;
  position: relative; }
  header .logo-container {
    position: relative;
    /* width: 150px; */
    /* outline: 1px solid rebeccapurple; */
    width: fit-content;
    grid-area: logo; }
  header .header-tagline {
    color: white;
    font-family: 'Delius', cursive;
    font-size: 30pt;
    display: inline-block;
    grid-area: tagline; }

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* ::::::::::: MAIN :::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
.transparent-container {
  min-height: calc(min(80vh,700px));
  background-color: transparent; }
  .transparent-container .textboxes-container {
    /* min-height: 600px; */
    padding: 80px 0;
    margin: 100px auto 0;
    /* outline: 1px solid green; */
    display: inline-flex;
    /* line-height: 430px; */ }
    @media (max-width: 1125px) {
      .transparent-container .textboxes-container {
        flex-direction: column; }
        .transparent-container .textboxes-container .arrow-button {
          transform: rotate(90deg);
          margin: -10px 0; } }
    @media (min-width: 1125px) {
      .transparent-container .textboxes-container .arrow-button {
        margin: 0 -10px; } }
    .transparent-container .textboxes-container .arrow-button {
      /* position: absolute; */
      /* top:50px; */
      position: relative;
      font-family: "Verdana", sans-serif;
      text-transform: uppercase;
      background: white;
      height: 60px;
      line-height: 55px;
      width: 60px;
      border: 1px solid #1a080a;
      border-radius: 100%;
      color: #1a080a;
      font-size: 40px;
      -webkit-transition: all 0.3 ease;
      transition: all 0.3 ease;
      cursor: pointer;
      border-radius: 100%;
      align-self: center;
      z-index: 20;
      transition: background 0.4s ease-in-out, color 0.2s ease-in-out;
      /* 
            &:hover, :active, :focus{
                color: #501B1D;
                transition: background 0.4s ease-in-out, color 0.2s ease-in-out;
            } */
      transition: transform ease-in 0.01s; }
      .transparent-container .textboxes-container .arrow-button:focus {
        outline: 0; }
      .transparent-container .textboxes-container .arrow-button:before, .transparent-container .textboxes-container .arrow-button:after {
        position: absolute;
        content: '';
        display: block;
        width: 140%;
        height: 100%;
        left: -20%;
        z-index: -1000;
        transition: all ease-in-out 1s;
        background-repeat: no-repeat; }
      .transparent-container .textboxes-container .arrow-button:before {
        display: none;
        top: -75%;
        background-image: radial-gradient(circle, #ffffff 20%, transparent 20%), radial-gradient(circle, transparent 20%, #1492cc 20%, transparent 30%), radial-gradient(circle, #e135ff 20%, transparent 20%), radial-gradient(circle, #1492cc 20%, transparent 20%), radial-gradient(circle, transparent 10%, #440000 15%, transparent 20%), radial-gradient(circle, #41ff2f 20%, transparent 20%), radial-gradient(circle, #fdba82 20%, transparent 20%), radial-gradient(circle, #440000 20%, transparent 20%), radial-gradient(circle, #e62020 20%, transparent 20%);
        background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%; }
      .transparent-container .textboxes-container .arrow-button:after {
        display: none;
        bottom: -75%;
        background-image: radial-gradient(circle, #ffffff 20%, transparent 20%), radial-gradient(circle, #e135ff 20%, transparent 20%), radial-gradient(circle, transparent 10%, #e62020 15%, transparent 20%), radial-gradient(circle, #1492cc 20%, transparent 20%), radial-gradient(circle, #41ff2f 20%, transparent 20%), radial-gradient(circle, #fdba82 20%, transparent 20%), radial-gradient(circle, #440000 20%, transparent 20%);
        background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%; }
      .transparent-container .textboxes-container .arrow-button:active {
        transform: scale(0.9);
        color: #3a1113; }
      .transparent-container .textboxes-container .arrow-button.animate:before {
        display: block;
        animation: topBubbles ease-in-out 1s forwards; }
      .transparent-container .textboxes-container .arrow-button.animate:after {
        display: block;
        animation: bottomBubbles ease-in-out 1s forwards; }

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%; }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%; }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%; } }

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%; }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%; }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%; } }
    .transparent-container .textboxes-container .text-box {
      /* outline: 1px solid red; */
      font-family: 'Open Sans', sans-serif;
      font-size: 30px;
      width: 500px;
      min-height: 300px;
      background-color: white; }
      .transparent-container .textboxes-container .text-box:empty:before {
        content: attr(data-placeholder);
        color: gray; }
    .transparent-container .textboxes-container #text-box-input, .transparent-container .textboxes-container #text-box-output {
      text-align: left;
      padding: 20px;
      border: 1px solid white;
      border-radius: 25px;
      font-family: 'Open Sans', sans-serif;
      color: black;
      font-size: 25px;
      resize: none;
      outline: none;
      box-shadow: 0 0 3px #4b4b4b;
      min-height: 150px;
      overflow-wrap: break-word; }
    .transparent-container .textboxes-container #text-box-input:focus {
      box-shadow: 0px 1px 10px 2px #000000; }

footer {
  padding: 80px 0;
  width: 100%;
  /* height: 500px; */
  background-color: #1a080a;
  color: #efe8dc;
  display: block;
  font-family: 'Open Sans', sans-serif; }
  footer .footer-title {
    display: block;
    font-size: xx-large;
    font-family: 'Delius', cursive; }
  footer .about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: top; }
    footer .about-container h1 {
      margin-bottom: 20px;
      font-size: xx-large;
      text-align: center; }
    footer .about-container .project-container {
      float: center;
      width: 1150px;
      color: #efe8dc;
      padding: 15px 15px 15px 40px;
      text-align: justify;
      max-width: 600px; }
    footer .about-container .team-container {
      max-width: 1000px;
      /* border-top: 1px #e9e9e9 solid;
            border-bottom: 1px #e9e9e9 solid; */
      position: relative;
      padding-top: 15px; }
      footer .about-container .team-container .team-title {
        font-family: 'Delius', cursive; }

.project-container .footer-logo {
  width: 400px;
  margin-bottom: 30px; }

.project-container .project-description {
  padding-right: 30px;
  text-align: justify;
  font-size: 1.4em; }

.team-container .team-members {
  display: inline-flex; }
  .team-container .team-members .team-member {
    height: 300px;
    position: relative;
    margin: 0 15px;
    width: 205px;
    flex-wrap: wrap;
    background-color: #8b86876b;
    box-sizing: border-box;
    border-radius: 10px;
    border-top-left-radius: 35px; }
    .team-container .team-members .team-member.thi {
      background-color: #1c4d8d4d; }
    .team-container .team-members .team-member.leo {
      background-color: #eaf0fa3b; }
    .team-container .team-members .team-member.edu {
      background-color: #7b363f3b; }
    .team-container .team-members .team-member .description {
      display: block;
      text-align: center;
      font-size: 90%;
      padding: 0 15px 15px; }
    .team-container .team-members .team-member a {
      color: white; }
  .team-container .team-members .team-member-id {
    display: flex;
    justify-content: flex-start; }
    .team-container .team-members .team-member-id .team-member-picture {
      width: 70px;
      height: 70px;
      border-radius: 100%;
      margin-right: 15px;
      margin-left: -10px;
      margin-top: -10px;
      /* clip-path: circle(50px at center); */
      border: #501B1D 2px solid;
      background-size: 100px 100px; }
      .team-container .team-members .team-member-id #eduardo-picture.team-member-picture {
        background-image: url("../img/edu.jpeg");
        background-position: 40% -8%;
        background-size: 95px;
        border-color: #7b363f; }
      .team-container .team-members .team-member-id #leo-picture.team-member-picture {
        background-image: url("../img/leo.jpeg");
        background-position: 38% 39%;
        background-size: 120px;
        border-color: #eaf0fa; }
      .team-container .team-members .team-member-id #thibo-picture.team-member-picture {
        background-image: url("../img/thi.jpeg");
        background-position: 50% 59%;
        background-size: 120px;
        border-color: #244b7d; }
  .team-container .team-members .team-member-links {
    position: absolute;
    bottom: 6px;
    left: 63px;
    bottom: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px; }
    .team-container .team-members .team-member-links .icon {
      height: 20px;
      width: 20px;
      padding: 5px; }
      .team-container .team-members .team-member-links #linkedin.icon {
        background-image: url("../img/linkedin-logo.png");
        background-size: 20px;
        background-repeat: no-repeat; }
      .team-container .team-members .team-member-links #github.icon {
        background-image: url("../img/github-logo.png");
        background-size: 20px;
        background-repeat: no-repeat; }
      .team-container .team-members .team-member-links #gmail.icon {
        background-image: url("../img/gmail-logo_w.png");
        background-size: 20px;
        background-repeat: no-repeat; }

.credits-container {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .credits-container #idmc-footer-logo {
    width: 215px; }
  .credits-container #ul-footer-logo {
    width: 80px; }

/* Deltas */
.delta-insert {
  border-bottom: green 2px solid; }

.delta-replace {
  border-bottom: blue 2px solid; }

.delta-delete {
  border-bottom: red 2px solid;
  display: none; }

.delta-input-delete {
  border-bottom: red 2px solid; }

/*# sourceMappingURL=style.scss.css.map */