<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GECko - Gobbles up your mistakes</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <link href="{{ url_for('static', filename='css/style.scss.css') }}"
      rel="stylesheet" type="text/css">

    <!--favicon-->
    <link rel="apple-touch-icon" sizes="57x57" href="../static/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../static/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../static/favicon/apple-icon-76x76.pn">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../static/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../static/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../static/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../static/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--favicon-->
</head>

<body>
    <!--header-->
    <header id="myHeader">
        <div class="logo-container">
            <img src="../static/img/GECko_full.png" alt="Logo of GECko" width="150" height="94">
        </div>

        <nav>
            <a href="#correct">CORRECT</a>
            <a href="#team">TEAM</a>
            <a href="#about">ABOUT</a>
            <div id="indicator"></div>
        </nav>

    </header>

    <!--corrector-->
    <div class="transparent-container">

        <div class="textboxes-container">
            <div contenteditable="true" class="text-box" id="textarea-input"
                data-placeholder="I'm hungry for mistakes..."></div>
            <div class="arrow-button" id="arrow-button">
                ➤
            </div>
            <div class="text-box" id="textarea-output" data-placeholder="Your text digested..."></div>
        </div>

    </div>

    <a name="team"></a>
    <div class="team">

        <div class="team-title">
            <h1>Team</h1>
        </div>

        <div class="team-title">
            <!-- member1-->
            <div class="team-member">
                <div class="team-member-picture" id="eduardo-picture">
                    <!-- <img src="../static/img/0.jpeg" width="100" height="100"> -->
                </div>
                <h3>Eduardo<br>Calò</h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque at vehicula nibh, non
                    fermentum mi.
                    Nam finibus, neque vitae egestas consequat, orci magna placerat ipsum, sit amet volutpat libero
                    justo sit
                    amet ex. </span><br>
                <a class="email" href="mailto:educa95@gmail.com"
                    style="color:#501B1D;"><span><br><code>educa95<code>@</code>gmail.com</code></span></a>
            </div>

            <!-- member2-->
            <div class="team-member">
                <div class="team-member-picture" id="leo-picture">
                    <!-- <img src="../static/img/leo.jpeg" width="100" height="100"> -->
                </div>
                <h3>Leo<br>Jacqmin</h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque at vehicula nibh, non
                    fermentum mi.
                    Nam finibus, neque vitae egestas consequat, orci magna placerat ipsum, sit amet volutpat libero
                    justo sit
                    amet ex. </span><br>
                <a class="email" href="mailto:jacqmin.leo@gmail.com"
                    style="color:#501B1D;"><span><br><code>jacqmin.leo<code>@</code>gmail.com</code></span></a>
            </div>

            <!-- member3-->
            <div class="team-member">
                <div class="team-member-picture" id="thibo-picture">
                    <!-- <img src="../static/img/thi.jpeg" width="100" height="100"> -->
                </div>
                <h3>Thibo<br>Rosemplatt</h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque at vehicula nibh, non
                    fermentum mi.
                    Nam finibus, neque vitae egestas consequat, orci magna placerat ipsum, sit amet volutpat libero
                    justo sit
                    amet ex. </span><br>
                <a class="email" href="mailto:thibo.rosemplatt@gmail.com"
                    style="color:#501B1D;"><span><br><code>thibo.rosemplatt<code>@</code>gmail.com</code></span></a>
            </div>

        </div>
    </div>
    </div>

    <footer>
        <!--about-->

        <div class="container-about">
            <h1><a name="about">About</a></h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque at vehicula nibh, non fermentum
                mi.
                Nam finibus, neque vitae egestas consequat, orci magna placerat ipsum, sit amet volutpat libero justo
                sit
                amet ex. Proin sapien nisl, aliquam quis lorem nec, vestibulum luctus augue. Aliquam consectetur nulla
                at
                quam eleifend tincidunt. Nulla lorem leo, posuere a risus in, dignissim ultrices tortor. Pellentesque
                sollicitudin felis nulla, quis mollis libero venenatis non. Aenean suscipit imperdiet mi, non tempor
                quam
                tincidunt nec. Sed eget mi tortor.</p>
        </div>
    </footer>

    <!-- <script type="text/javascript" src="../static/js/sticky.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>$('body').attr("spellcheck",false)</script>
    <script src="../static/js/predict.js"></script>

</body>

</html>
