{% extends "index.html" %}


{% block team %}
<div class="team-container">

    <div class="team-title">
        <h1>Team</h1>
    </div>

    <div class="team-members">
        <div class="team-member">
            <div class="team-member-picture" id="eduardo-picture">
                <!-- <img src="../static/img/0.jpeg" width="100" height="100"> -->
            </div>
            <h3>Eduardo<br>Calò</h3>
            <span class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque at vehicula nibh, non
                fermentum mi.
                Nam finibus, neque vitae egestas consequat.
            </span><br>
            <a class="email" href="mailto:educa95@gmail.com"
                style="color:#501B1D;"><span><br><code>educa95<code>@</code>gmail.com</code></span></a>
        </div>

        <!-- member2-->
        <div class="team-member">
            <div class="team-member-picture" id="leo-picture">
                <!-- <img src="../static/img/leo.jpeg" width="100" height="100"> -->
            </div>
            <h3>Leo<br>Jacqmin</h3>
            <span class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque at vehicula nibh, non
                fermentum mi.
                Nam finibus, neque vitae egestas consequat.
            </span><br>
            <a class="email" href="mailto:jacqmin.leo@gmail.com"
                style="color:#501B1D;"><span><br><code>jacqmin.leo<code>@</code>gmail.com</code></span></a>
        </div>

        <!-- member3-->
        <div class="team-member">
            <div class="team-member-picture" id="thibo-picture">
                <!-- <img src="../static/img/thi.jpeg" width="100" height="100"> -->
            </div>
            <h3>Thibo<br>Rosemplatt</h3>
            <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque at vehicula nibh, non
                fermentum mi.
                Nam finibus, neque vitae egestas consequat. </span><br>
            <a class="email" href="mailto:thibo.rosemplatt@gmail.com"
                style="color:#501B1D;"><span><br><code>thibo.rosemplatt<code>@</code>gmail.com</code></span></a>
        </div>
    </div>
</div>
{% endblock %}