{% extends "index.html" %}


{% block team %}
<div class="team-container">

    <div class="team-title">
        <h1>The team</h1>
    </div>

    <div class="team-members">
        <div class="team-member">
            <div class="team-member-id">
                <div class="team-member-picture" id="eduardo-picture">
                </div>
                <h3>Eduardo<br>Calò</h3>
            </div>
            <a class="email" href="mailto:educa95@gmail.com">
                <span>
                    <br>
                    <font size="-1"><code>educa95<code>@</code>gmail.com</code></font>
                </span>
            </a>
            <div class="description">
                I am a Computational Linguist holding a BA in Asian studies, and pursuing an MSc in Natural Language Processing.
                I have worked in Samsung Italy as a Language Engineer, and as a researcher in ATILF labs.
            </div>
            
        </div>

        <!-- member2-->
        <div class="team-member">
            <div class="team-member-id">
                <div class="team-member-picture" id="leo-picture">
                </div>
                <h3>Léo<br>Jacqmin</h3>
            </div>
            <a class="email" href="mailto:jacqmin.leo@gmail.com">
                <span>
                    <br>
                    <font size="-1"><code>jacqmin.leo<code>@</code>gmail.com</code></font>
                </span>
            </a>
            <div class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque at vehicula nibh, non
                fermentum mi.
                Nam finibus, neque vitae egestas consequat.
            </div>
            
        </div>

        <!-- member3-->
        <div class="team-member">
            <div class="team-member-id">
                <div class="team-member-picture" id="thibo-picture">
                </div>
                <h3>Thibo<br>Rosemplatt</h3>
            </div>
            <a class="email" href="mailto:thibo.rosemplatt@gmail.com">
                <span>
                    <br>
                    <font size="-1"><code>thibo.rosemplatt<code>@</code>gmail.com</code></font>
                </span>
            </a>
            <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque at vehicula nibh, non
                fermentum mi.
                Nam finibus, neque vitae egestas consequat.
            </div>
            
        </div>
    </div>
</div>
{% endblock %}